<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Mindwaves Socket{% endblock title %}</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/components/rickshaw/rickshaw.css">
    </head>
    <body>

        <div id="main">
        {% block content %}
        {% endblock content %}
        </div>

        {% block form %}
        {% endblock form %}

        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/components/rickshaw/vendor/d3.min.js"></script>
        <script src="/static/components/rickshaw/vendor/d3.layout.min.js"></script>
        <script src="/static/components/rickshaw/rickshaw.min.js"></script>
        <script src="/static/js/socketio/socket.io.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>

        {% block extra_js %}
        {% endblock extra_js %}

    </body>
</html>
